*~
*.pyc
.build
config/setup/*.ali
config/setup/*.o
config/tp_config.gpr
docs/build
docs/templates_parser.dvi
docs/templates_parser.html
docs/templates_parser.info
docs/templates_parser.pdf
docs/templates_parser.txt
docs/user.tmplt.texi
makefile.setup
regtests/*.pyc
regtests/out
config/setup/foo.ads.stderr
config/setup/foo.ads.stdout
tp_xmlada.gpr
src/templates_parser-version.adb
